* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: grey;
  padding: 0 10rem;
  line-height: 1;
  font-family: "Open Sans", sans-serif; }

ol,
ul {
  list-style: none; }

.heading-1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

.heading-1 {
  font-size: 4.5rem;
  line-height: 1; }

.mt-sm {
  margin-top: 2rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 4rem; }

.headline {
  background-image: url("/images/HeadlineImage_1.jpg");
  height: 70vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5; }
  .headline--small {
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase; }
    .headline--small:first-child {
      margin-top: 2rem; }
  .headline--large {
    color: red;
    font-size: 7rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    background-size: 100%;
    display: block;
    text-transform: uppercase; }

.secret {
  background-color: #fff; }
  .secret__headline {
    margin-left: 10rem;
    padding: 4rem 0;
    font-size: 2rem; }
  .secret__banner {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #c39b7c);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
    justify-content: center;
    grid-column-gap: 2rem; }
    .secret__banner__item--text {
      text-align: center;
      font-size: 2.6rem;
      padding: 3rem 0;
      color: #3d1c0f; }
  .secret__description {
    padding: 4rem 0;
    margin-left: 10rem; }
    .secret__description__text {
      margin: 4rem 0;
      font-size: 2rem; }
      .secret__description__text:last-child {
        margin: 2rem 0; }
    .secret__description__list {
      font-size: 1.5rem; }
      .secret__description__list__item {
        margin: 1.5rem 0;
        display: flex; }
        .secret__description__list__item p {
          margin-left: 1rem; }

.parallax {
  background-image: url("/images/ParallaxOne_5.jpg");
  min-height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .parallax__heading {
    color: #fff;
    font-size: 5rem;
    padding-left: 5rem;
    padding-right: 15rem; }
  .parallax__sub {
    color: #fff;
    font-size: 2.5rem;
    padding-left: 5rem; }
