* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: grey;
  padding: 0 10rem;
  line-height: 1;
  font-family: "Open Sans", sans-serif; }

ol,
ul {
  list-style: none; }

.heading-1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

.heading-1 {
  font-size: 4.5rem;
  line-height: 1; }

.italic {
  font-style: italic; }

.pt-sm {
  padding-top: 2rem; }

.pt-md {
  padding-top: 4rem; }

.pb-sm {
  padding-bottom: 2rem; }

.pb-md {
  padding-bottom: 4rem; }

.mt-sm {
  margin-top: 2rem; }

.mt-md {
  margin-top: 4rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 4rem; }

.btn, .btn:link, .btn:visited {
  background-color: #E47E25;
  text-decoration: none;
  padding: 1.5rem 10rem;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 5rem;
  border: 5px solid #fff;
  font-weight: 700;
  line-height: .5;
  cursor: pointer; }

.headline {
  background-image: url("/images/HeadlineImage_1.jpg");
  height: 45rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5; }
  .headline--small {
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase; }
    .headline--small:first-child {
      margin-top: 2rem; }
  .headline--large {
    color: red;
    font-size: 7rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
    background-size: 100%;
    display: block;
    text-transform: uppercase; }

.secret {
  background-color: #fff; }
  .secret__headline {
    margin: 0 15rem;
    padding: 4rem 0;
    font-size: 2rem; }
  .secret__banner {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #c39b7c, rgba(255, 255, 255, 0));
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
    justify-content: center;
    grid-column-gap: 2rem; }
    .secret__banner__item--text {
      text-align: center;
      font-size: 2.6rem;
      padding: 3rem 0;
      color: #3d1c0f; }
  .secret__description {
    padding: 4rem 0;
    margin: 0 15rem; }
    .secret__description__text {
      margin: 4rem 0;
      font-size: 2rem; }
      .secret__description__text:last-child {
        margin: 2rem 0; }
    .secret__description__list {
      font-size: 1.5rem; }
      .secret__description__list__item {
        margin: 1.5rem 0;
        display: flex; }
        .secret__description__list__item p {
          margin-left: 1rem; }

.parallax {
  background-image: url("/images/ParallaxOne_5.jpg");
  min-height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .parallax__heading {
    color: #fff;
    font-size: 5rem;
    padding-left: 5rem;
    padding-right: 15rem; }
  .parallax__sub {
    color: #fff;
    font-size: 2.5rem;
    padding-left: 5rem; }

.doctor {
  padding-top: 3rem;
  background-color: #fff; }
  .doctor__banner {
    display: flex;
    align-items: center;
    background-color: #3d1c0f;
    width: 80%; }
    .doctor__banner__text {
      color: #fff;
      font-size: 2rem;
      padding: 3rem 1rem 3rem 45%; }
    .doctor__banner__image {
      height: 30rem;
      width: 30rem;
      position: absolute;
      float: left;
      transform: translateY(-3rem);
      margin-left: 2rem; }
  .doctor__texts {
    margin: 0 10rem;
    padding-bottom: 4rem; }
    .doctor__texts__text {
      margin: 4rem 0;
      font-size: 2rem; }

.gear {
  background-color: #A41F25;
  padding-bottom: 4rem;
  background-image: url("/images/Gears_15.jpg");
  background-position: right;
  background-size: 80%;
  background-repeat: no-repeat; }
  .gear__header {
    font-size: 4rem;
    color: #FFCD2F; }
  .gear__texts {
    margin: 0 15rem; }
  .gear__text {
    font-size: 2rem;
    color: #fff; }
    .gear__text:not(:last-child) {
      margin-bottom: 2rem; }

.guarantee {
  background-color: #fff; }
  .guarantee__contents {
    margin: 0 15rem;
    background-color: #fff;
    padding-bottom: 2rem; }
    .guarantee__contents__header {
      font-size: 4rem;
      font-weight: 700; }
    .guarantee__contents p {
      font-size: 2rem; }
      .guarantee__contents p:not(:last-child) {
        margin: 2rem 0; }
  .guarantee__image--sub {
    float: right; }

.guarantee2 {
  background-image: url("/images/TransparentArrowBkgd.jpg");
  background-position: center center;
  background-size: cover; }
  .guarantee2::before {
    content: "";
    display: block;
    position: relative;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-bottom: -150px;
    height: 150px;
    width: 100%; }
  .guarantee2__button {
    text-align: center;
    margin-top: 2rem; }
    .guarantee2__button a span {
      color: #000;
      font-size: 1.5rem; }
  .guarantee2__button2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem; }
    .guarantee2__button2 a {
      color: #2BB673; }
  .guarantee2__copyright {
    margin: 2rem 25rem;
    font-size: 1.5rem;
    color: #fff; }
  .guarantee2__contents {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 15rem;
    z-index: 10; }
    .guarantee2__contents p {
      font-size: 2rem; }
      .guarantee2__contents p:not(:last-child) {
        margin-bottom: 2rem; }
      .guarantee2__contents p:last-child {
        padding-bottom: 2rem; }
  .guarantee2__banner {
    background-color: #495E40;
    text-align: center;
    margin: 0 15rem; }
    .guarantee2__banner h1 {
      color: #F9D63F;
      font-size: 13rem; }
    .guarantee2__banner h2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 6rem; }
    .guarantee2__banner h3 {
      color: #fff;
      text-transform: uppercase;
      font-size: 2.2rem; }
  .guarantee2__arrow {
    margin: 0 15rem; }
    .guarantee2__arrow img {
      width: 100%; }
