* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  background-color: grey;
  padding: 0 10rem;
  line-height: 1;
  font-family: "Open Sans", sans-serif; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

ol,
ul {
  list-style: none; }

.heading-1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

.heading-1 {
  font-size: 4.5rem;
  line-height: 1; }

.italic {
  font-style: italic; }

.pt-sm {
  padding-top: 2rem; }

.pt-md {
  padding-top: 4rem; }

.pb-sm {
  padding-bottom: 2rem; }

.pb-md {
  padding-bottom: 4rem; }

.mt-sm {
  margin-top: 2rem; }

.mt-md {
  margin-top: 4rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 4rem; }

.btn, .btn:link, .btn:visited {
  background-color: #E47E25;
  text-decoration: none;
  padding: 1.5rem 10rem;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 5rem;
  border: 5px solid #fff;
  font-weight: 700;
  line-height: .5;
  transition: all .2s; }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      font-size: 4rem; } }
  @media only screen and (max-width: 31.25em) {
    .btn, .btn:link, .btn:visited {
      font-size: 3.5rem; } }

.btn:hover {
  background-color: #F9D63F;
  color: #E47E25;
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Animation, what happens at each percentage*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /* Start negative in the X direction */ }
  80% {
    transform: translateX(1rem);
    /* Move a bit more to the right before popping back */ }
  100% {
    opacity: 1;
    transform: translate(0);
    /* Look exactly like it looks right now */ } }

.headline {
  background-image: url("../images/HeadlineImage_1.jpg");
  height: 45rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5; }
  .headline--small {
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase; }
    .headline--small:first-child {
      margin-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .headline--small {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .headline--small {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 31.25em) {
      .headline--small {
        font-size: 2rem; } }
  .headline--large {
    color: red;
    font-size: 7rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
    background-size: 100%;
    display: block;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .headline--large {
        font-size: 4.5rem; } }

.secret {
  background-color: #fff; }
  .secret__headline {
    margin: 0 15rem;
    padding: 4rem 0;
    font-size: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .secret__headline {
        margin: 0 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .secret__headline {
        margin: 0 7rem; } }
  .secret__banner {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #c39b7c, rgba(255, 255, 255, 0));
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, auto));
    justify-content: center;
    grid-column-gap: 2rem; }
    .secret__banner__item--text {
      text-align: center;
      font-size: 2.6rem;
      padding: 3rem 0;
      color: #3d1c0f; }
  .secret__description {
    padding: 4rem 0;
    margin: 0 15rem; }
    @media only screen and (max-width: 56.25em) {
      .secret__description {
        margin: 0 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .secret__description {
        margin: 0 7rem; } }
    .secret__description__text {
      margin: 4rem 0;
      font-size: 2rem; }
      .secret__description__text:last-child {
        margin: 2rem 0; }
    .secret__description__list {
      font-size: 1.5rem; }
      .secret__description__list__item {
        margin: 1.5rem 0;
        display: flex; }
        .secret__description__list__item p {
          margin-left: 1rem; }

.parallax {
  background-image: url("../images/ParallaxOne_5.jpg");
  min-height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right; }
  @media only screen and (max-width: 56.25em) {
    .parallax {
      min-height: 200px; } }
  .parallax__heading {
    color: #fff;
    font-size: 5rem;
    padding-left: 5rem;
    padding-right: 15rem; }
    @media only screen and (max-width: 56.25em) {
      .parallax__heading {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .parallax__heading {
        font-size: 2.5rem;
        padding-right: 10rem; } }
    @media only screen and (max-width: 31.25em) {
      .parallax__heading {
        padding-right: 5rem; } }
  .parallax__sub {
    color: #fff;
    font-size: 2.5rem;
    padding-left: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .parallax__sub {
        font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .parallax__sub {
        font-size: 1.5rem; } }

.doctor {
  padding-top: 3rem;
  background-color: #fff; }
  .doctor__banner {
    display: flex;
    align-items: center;
    background-color: #3d1c0f;
    width: 80%; }
    @media only screen and (max-width: 56.25em) {
      .doctor__banner {
        width: 100%; } }
    .doctor__banner__text {
      color: #fff;
      font-size: 2rem;
      padding: 3rem 1rem 3rem 45%; }
      @media only screen and (max-width: 56.25em) {
        .doctor__banner__text {
          font-size: 1.5rem; } }
    .doctor__banner__image {
      height: 30rem;
      width: 30rem;
      position: absolute;
      float: left;
      transform: translateY(-3rem);
      margin-left: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .doctor__banner__image {
          height: 23rem;
          width: 23rem;
          transform: translateY(-1.1rem); } }
      @media only screen and (max-width: 31.25em) {
        .doctor__banner__image {
          height: 20rem;
          width: 20rem;
          transform: translateY(1rem); } }
  .doctor__texts {
    margin: 0 10rem;
    padding-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .doctor__texts {
        margin: 0 7rem; } }
    .doctor__texts__text {
      margin: 4rem 0;
      font-size: 2rem; }

.gear {
  background-color: #A41F25;
  padding-bottom: 4rem;
  background-image: url("../images/Gears_15.jpg");
  background-position: right;
  background-size: 80%;
  background-repeat: no-repeat; }
  .gear__header {
    font-size: 4rem;
    color: #FFCD2F; }
    @media only screen and (max-width: 56.25em) {
      .gear__header {
        font-size: 3rem; } }
  .gear__texts {
    margin: 0 15rem; }
    @media only screen and (max-width: 56.25em) {
      .gear__texts {
        margin: 0 10rem; } }
    @media only screen and (max-width: 31.25em) {
      .gear__texts {
        margin: 0 7rem; } }
  .gear__text {
    font-size: 2rem;
    color: #fff; }
    @media only screen and (max-width: 56.25em) {
      .gear__text {
        font-size: 1.5rem; } }
    .gear__text:not(:last-child) {
      margin-bottom: 2rem; }

.guarantee {
  background-color: #fff; }
  .guarantee__contents {
    margin: 0 13rem;
    background-color: #fff;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .guarantee__contents {
        margin: 0 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .guarantee__contents {
        margin: 0 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .guarantee__contents {
        margin: 0 2rem; } }
    .guarantee__contents__header {
      font-size: 4rem;
      font-weight: 700;
      margin: 0 2rem; }
    .guarantee__contents p {
      font-size: 2rem;
      margin: 0 2rem; }
      .guarantee__contents p:not(:last-child) {
        margin: 2rem 2rem; }
  .guarantee__image--primary {
    width: 100%; }
  .guarantee__image--sub {
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .guarantee__image--sub {
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .guarantee__image--sub {
        width: 100%; } }

.guarantee2 {
  background-image: url("../images/TransparentArrowBkgd.jpg");
  background-position: center center;
  background-size: cover; }
  .guarantee2::before {
    content: "";
    display: block;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-bottom: -150px;
    height: 150px;
    width: 100%; }
  .guarantee2__button {
    text-align: center;
    margin-top: 2rem; }
    .guarantee2__button a span {
      color: #000;
      font-size: 1.5rem; }
  .guarantee2__button2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem; }
    .guarantee2__button2 a {
      color: #2BB673; }
  .guarantee2__copyright {
    margin: 2rem 25rem;
    font-size: 1.5rem;
    color: #fff; }
    @media only screen and (max-width: 56.25em) {
      .guarantee2__copyright {
        margin: 2rem 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .guarantee2__copyright {
        margin: 2rem 7rem; } }
    @media only screen and (max-width: 31.25em) {
      .guarantee2__copyright {
        margin: 2rem 5rem; } }
  .guarantee2__contents {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 13rem;
    z-index: 10; }
    @media only screen and (max-width: 56.25em) {
      .guarantee2__contents {
        margin: 0 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .guarantee2__contents {
        margin: 0 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .guarantee2__contents {
        margin: 0 2rem; } }
    .guarantee2__contents p {
      font-size: 2rem;
      margin-left: 2rem;
      margin-right: 2rem; }
      .guarantee2__contents p:not(:last-child) {
        margin-bottom: 2rem; }
      .guarantee2__contents p:last-child {
        padding-bottom: 2rem; }
  .guarantee2__banner {
    background-color: #495E40;
    text-align: center;
    margin: 0 13rem; }
    @media only screen and (max-width: 56.25em) {
      .guarantee2__banner {
        margin: 0 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .guarantee2__banner {
        margin: 0 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .guarantee2__banner {
        margin: 0 2rem; } }
    .guarantee2__banner h1 {
      color: #F9D63F;
      font-size: 13rem; }
      @media only screen and (max-width: 56.25em) {
        .guarantee2__banner h1 {
          font-size: 10rem; } }
    .guarantee2__banner h2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .guarantee2__banner h2 {
          font-size: 4rem; } }
    .guarantee2__banner h3 {
      color: #fff;
      text-transform: uppercase;
      font-size: 2.2rem; }
  .guarantee2__arrow {
    margin: 0 15rem; }
    @media only screen and (max-width: 56.25em) {
      .guarantee2__arrow {
        margin: 0 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .guarantee2__arrow {
        margin: 0 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .guarantee2__arrow {
        margin: 0 2rem; } }
    .guarantee2__arrow img {
      width: 100%; }
