// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;

$bp-gigantic: 100rem;   //1600px
$bp-largest: 75em;      //1200px
$bp-large: 68.75em;     //1100px
$bp-medium: 56.25em;    //900px
$bp-inbetween: 43.75em; //700px
$bp-small: 37.5em;      //600px
$bp-tiny: 31.25em;      //500px
  
*{
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after{
    box-sizing: inherit;
  }
  
  html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px

    @media only screen and (max-width: $bp-large){
      font-size: 50%;
    }
  }

  body{
    background-color: grey;
    padding: 0 10rem;
    line-height: 1;
    font-family: $font-primary;

    @media only screen and (max-width: $bp-small){
      padding: 0;
    }
  }

  ol,
  ul{
    list-style: none;
  }
  

  