.btn{
    &,
    &:link,
    &:visited{
        background-color: #E47E25;
        text-decoration: none;
        padding: 1.5rem 10rem; 
        display: inline-block; 
        position: relative; 
        color: #fff;
        font-size: 5rem;
        border: 5px solid #fff;
        font-weight: 700;
        line-height: .5;
        transition: all .2s;

        @media only screen and (max-width: $bp-small){
            font-size: 4rem;
        }

        @media only screen and (max-width: $bp-tiny){
            font-size: 3.5rem;
        }

    }

    &:hover{
        background-color:#F9D63F;
        color: #E47E25;
        transform: translateY(-1rem); 
        box-shadow: 0 1rem 2rem rgba(#000, .2); 

    }

    &--animated{
        animation: moveInBottom .5s ease-out .75s; 
        -webkit-animation-fill-mode: backwards; 
        animation-fill-mode: backwards; 
    }
}