.doctor{
    padding-top: 3rem;
    background-color: #fff;

    &__banner{
        display: flex;
        align-items: center;
        background-color: #3d1c0f;
        width: 80%;

        &__text{
            color: #fff;
            font-size: 2rem;
            padding: 3rem 1rem 3rem 45%;
        }

        &__image{
            height: 30rem;
            width: 30rem;
            position: absolute;
            float: left;
            transform: translateY(-3rem);
            margin-left: 2rem;
        }
    }

    &__texts{
        margin: 0 10rem;
        padding-bottom: 4rem;

        &__text{
            margin: 4rem 0;
            font-size: 2rem;
        }
    }
}