.doctor{
    padding-top: 3rem;
    background-color: #fff;

    &__banner{
        display: flex;
        align-items: center;
        background-color: #3d1c0f;
        width: 80%;

        &__text{
            color: #fff;
            font-size: 2rem;
        }

        &__image{
            height: 40rem;
            width: 40rem;
        }
    }

    &__texts{
        margin-left: 10rem;
        padding-bottom: 4rem;

        &__text{
            margin: 4rem 0;
            font-size: 2rem;
        }
    }
}