.guarantee{
    background-color: #fff;

    &__contents{
        margin: 0 13rem;
        background-color: #fff;
        padding-bottom: 2rem;

        @media only screen and (max-width: $bp-medium){
            margin: 0 7rem;
        }

        @media only screen and (max-width: $bp-small){
            margin: 0 5rem;
        }

        @media only screen and (max-width: $bp-tiny){
            margin: 0 2rem;
        }

        &__header{
            font-size: 4rem;
            font-weight: 700;
            margin: 0 2rem;
            
        }

        p{
            font-size: 2rem;
            margin: 0 2rem;

            &:not(:last-child){
                margin: 2rem 2rem;
            }
        }

        
    }

    &__image{

        &--primary{
            width: 100%;

        }

        &--sub{
            float: right;

            @media only screen and (max-width: $bp-medium){
                width: 60%;
            }

            @media only screen and (max-width: $bp-small){
                width: 100%;
            }

            @media only screen and (min-width: $bp-gigantic){
                width: 40%;
            }
        }
    }
}

.guarantee2{
    background-image: url("../images/TransparentArrowBkgd.jpg");
    background-position: center center;
    background-size: cover;

    &::before{
        content: "";
        display: block;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 100%);
        margin-bottom: -150px;
        height: 150px;
        width: 100%;
    }

    &__button{
        text-align: center;
        margin-top: 2rem;

        a{
            
            span{
                color: #000;
                font-size: 1.5rem;
            }
        }
    }

    &__button2{
        text-align: center;
        margin-top: 2rem;
        font-size: 2rem;
        
        a{
            color: #2BB673;
        }
    }

    &__copyright{
        margin: 2rem 25rem;
        font-size: 1.5rem;
        color: #fff;

        @media only screen and (max-width: $bp-medium){
            margin: 2rem 10rem;
        }

        @media only screen and (max-width: $bp-small){
            margin: 2rem 7rem;
        }

        @media only screen and (max-width: $bp-tiny){
            margin: 2rem 5rem;
        }
        
    }

    &__contents{
        background-color: rgba(255, 255, 255, .9);
        margin: 0 13rem;
        z-index: 10;

        @media only screen and (max-width: $bp-medium){
            margin: 0 7rem;
        }

        @media only screen and (max-width: $bp-small){
            margin: 0 5rem;
        }

        @media only screen and (max-width: $bp-tiny){
            margin: 0 2rem;
        }

        p{
            font-size: 2rem;
            margin-left: 2rem;
            margin-right: 2rem;

            &:not(:last-child){
                margin-bottom: 2rem;
            }

            &:last-child{
                padding-bottom: 2rem;
            }
        }
    }

    &__banner{
        background-color: #495E40;
        text-align: center;
        margin: 0 13rem;
        display: grid;
        //grid-template-columns: 13rem 13rem minmax(20rem,1fr) 13rem 13rem;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem;
        align-items: center;

        @media only screen and (max-width: $bp-medium){
            margin: 0 7rem;
        }

        @media only screen and (max-width: $bp-small){
            margin: 0 5rem;
        }

        @media only screen and (max-width: $bp-tiny){
            margin: 0 2rem;
        }

        &__image{

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;

            }
        }

        &__text{
            grid-column: 3 / span 2;

            h1{
                color: #F9D63F;
                font-size: 11rem;
    
                @media only screen and (max-width: $bp-medium){
                    font-size: 7.5rem;
                }

                @media only screen and (max-width: $bp-inbetween){
                    font-size: 6.5rem;
                }
            }
    
            h2{
                color: #fff;
                text-transform: uppercase;
                font-size: 5rem;
    
                @media only screen and (max-width: $bp-medium){
                    font-size: 3.5rem;
                }

                @media only screen and (max-width: $bp-inbetween){
                    font-size: 3.3rem;
                }

            }
    
            h3{
                color: #fff;
                text-transform: uppercase;
                font-size: 2.2rem;

                @media only screen and (max-width: $bp-medium){
                    font-size: 1.8rem;
                }
            }
        }
        
    }

    &__arrow{
        margin: 0 15rem;

        @media only screen and (max-width: $bp-medium){
            margin: 0 7rem;
        }

        @media only screen and (max-width: $bp-small){
            margin: 0 5rem;
        }

        @media only screen and (max-width: $bp-tiny){
            margin: 0 2rem;
        }

        img{
            width: 100%;
        }
    }
}