.headline{
    background-image: url("/images/HeadlineImage_1.jpg");
    height: 45rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5;

    &--small{
        color: #fff;
        font-size: 4rem;
        text-transform: uppercase;

        &:first-child{
            margin-top: 2rem;
        }
    }

    &--large{
        color: red;
        font-size: 7rem;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)
        );
        background-size: 100%;
        display: block;
        text-transform: uppercase;

    }
}