.secret{
    background-color: #fff;

    &__headline{
        margin-left: 10rem;
        padding: 4rem 0;
        font-size: 2rem;
    }

    &__banner{
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #c39b7c);

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem,auto));
        justify-content: center;
        grid-column-gap: 2rem;

        &__item{


            &--image{

            }

            &--text{
                text-align: center;
                font-size: 2.6rem;
                padding: 3rem 0;
                color: #3d1c0f;
            }
        }
    }

    &__description{
        padding: 4rem 0;
        margin-left: 10rem;

        &__text{
            margin: 4rem 0;
            font-size: 2rem;

            &:last-child{
                margin: 2rem 0;
            }
        }

        &__list{
            font-size: 1.5rem;

            &__item{
                margin: 1.5rem 0;
                display: flex;

                p{
                    margin-left: 1rem;
                }
            }
        }
    }

}