%heading{
    font-family: $font-primary;
    font-weight: 700;
}

.heading-1{
    @extend %heading;
    font-size: 4.5rem;
    line-height: 1;
}

.italic{
    font-style: italic;
}

.pt-sm{
    padding-top: 2rem;
}

.pt-md{
    padding-top: 4rem;
}

.pb-sm{
    padding-bottom: 2rem;
}

.pb-md{
    padding-bottom: 4rem;
}

.mt-sm{
    margin-top: 2rem;
}

.mt-md{
    margin-top: 4rem;
}

.mb-sm{
    margin-bottom: 2rem;
}

.mb-md{
    margin-bottom: 4rem;
}
